<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Shopping Cart</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Product 1</td>
            <td>$10</td>
            <td>
              <input type="number" class="form-control" value="1">
            </td>
            <td>$10</td>
            <td>
              <button class="btn btn-danger btn-sm">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h3>Total: $10</h3>
      <button class="btn btn-primary btn-lg btn-block">Checkout</button>
    </div>
  </div>
</div> -->



<div class="container-fluid">

  <div class="row">
    <div class="col-md-9">

      <div class="box bg-white">
        <h3 class="head"> Shopping Cart </h3>

        <div class="row mx-auto">
          <div class="col-md-2 mb-2">
            <div class="img-box">
              <img src="./assets/products/spices/z1.jpg" alt="" class="img-fluid object-fit-cover border rounded">
            </div>
          </div>

          <div class="col-md-3">
            <p class="text-truncate fs-5 fw-bold" style="max-width: 150px;"> Chilli </p>
            <p> Brand : spices / 250kg </p>
          </div>

          <div class="col-md-2">
            <select class="form-select" aria-label="Default select example">
              <option selected> --- </option>
              <option value="1"> 250-g </option>
              <option value="2"> 500-g</option>
              <option value="3"> 1-kg </option>
            </select>
          </div>

          <div class="col-md-2">
            <p class="fw-bold"> $115.00 </p>
            <p > 460.00 / per item </p>
          </div>

          <div class="col-md-3">

            <div class="btn-group">
              <button class="btn btn-outline-secondary"> &hearts; </button> &nbsp;
              <button class="btn btn-outline-danger"> Remove </button>
            </div>

          </div>

          <hr>

          <p> Free Delivery within 1-2 weeks </p>


        </div>
      </div>
    </div>

    <div class="col-md-3">

      <div class="box bg-white">
        <h5> Have coupon ? </h5>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Coupon code" aria-label="coupon" aria-describedby="coupon">
          <button type="button" class="btn btn-outline-secondary" id="coupon"> Apply </button>
        </div>

      </div>

      <div class="c-amt">

        <div class="box bg-white">
          <p class="fs-5"> Total price : <span class="float-end fw-bold"> $112.32 </span> </p>
          <p class="fs-5"> Discount : <span class="float-end text-success fw-bold"> - $60.00 </span> </p>
          <p class="fs-5"> Tax : <span class="float-end text-danger fw-bold"> + $14.00 </span> </p>
          <hr>
          <p class="fs-5"> Total : <span class="float-end fw-bold"> $ 12345 </span></p>

          <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary mb-2"> Make Purchase </button>
            <button type="button" class="btn btn-outline-secondary mb-2"> Back to Shop </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>