.container {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(232, 245, 246, 0.562);
}

.box {
    width: 450px;
    border: 2px solid silver;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
}

