 <div class="container">

    <div class="box bg-white rounded">
            <h3 class="text-center"> Login to your account </h3> <br>

    <div class="mx-4">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
           
            <div class="mb-3">
                <label for="email" class="form-label"> Email address </label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
                <span class="text-danger"
                    *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')"> Email Id is
                    required </span>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label"> Password </label>
                <input type="password" class="form-control" id="password" placeholder=" ********** " formControlName="password">
                <span class="text-danger"
                    *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"> Password
                    is required </span>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" required>
                <label class="form-check-label" for="flexCheckChecked">
                  Remember
                </label>
              </div>

              <div class="submitBtn mb-3">
                <button type="submit" class="btn btn-primary"> sign in </button>
              </div>

            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary sign"> Login </button>
        </form>
    </div>

<div class="create mb-3">
<a > Create New Account </a>
</div>

    <div class="forgot">
        <a class="text-center text-decoration-none"> Forgot password? </a>
    </div>

    <div class="forgot mb-2">
        <a class="text-center text-decoration-none"> Don't have a account? <span [routerLink]="['../register']"> Sign up for free! </span> </a>
    </div>
</div>

</div>