<ng-container *ngIf="products.length != 0">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-9">
                <div class="box cart-box table-responsive">
                    <table class="table table-hover table-borderless caption-top table-sm">
                        <caption> Shopping Cart </caption>
                        <thead class="mx-auto">
                            <th scope="col"> SNO </th>
                            <th scope="col"> Image </th>
                            <th scope="col"> Description </th>
                            <th scope="col"> Unit </th>
                            <th scope="col"> Price </th>
                            <th scope="col"> Quantity </th>
                            <th scope="col"> Amount </th>
                            <th scope="col"> Action </th>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of products; let a = index">
                                <td> {{a+1}} </td>
                                <td>
                                    <img src="{{item.image}}" alt="img-1"
                                        class="img-fluid object-fit-cover border rounded" width="75">
                                </td>
                                <td>
                                    <p> {{item.name}} </p>
                                    <p> Brand : Best </p>
                                </td>

                                <td>
                                    <select class="form-select w-75" aria-label="Default select example"
                                        (change)="selectvary(a,item,$event)">
                                        <option selected> Variant </option>
                                        <option *ngFor="let vary of item.variant" value={{vary.variantId}}>
                                            {{vary.desc}}{{vary.weight}} </option>
                                    </select>
                                </td>


                                <td>
                                    <!-- <p>{{item?.quantity*item?.varientPrice?.price}}</p> -->

                                    <p> {{item?.variantPrice?.price |currency:"INR"}} </p>
                                </td>

                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-danger btn-sm" (click)="removeQnt(a,item)"> - </button>
                                        <span> {{item.quantity}} </span>
                                        <button class="btn btn-primary btn-sm" (click)="addQnt(a,item)"> + </button>
                                    </div>
                                </td>

                                <td>
                                    <p>{{item?.quantity*item?.variantPrice?.price| currency:"INR"}}</p>
                                </td>

                                <td>
                                    <button class="btn btn-outline-danger" (click)="removeItem(item)"> <i
                                            class="las la-trash-alt"></i> </button>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                    <hr>

                    <p> Free Delivery Within 1 or 2 Weeks </p>

                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-lg-3">

                <div class="box bg-white">
                    <h5> Have coupon ? </h5>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Coupon code" aria-label="coupon"
                            aria-describedby="coupon">
                        <button type="button" class="btn btn-outline-secondary" id="coupon"> Apply </button>
                    </div>

                </div>

                <div class="tot-amt">

                    <div class="box bg-white">
                        <p class="fs-5"> Total price : <span class="float-end fw-bold"> {{totalPrice | currency:"INR"}}
                            </span> </p>
                        <p class="fs-5"> Discount : <span class="float-end text-success fw-bold"> - $00.00 </span> </p>
                        <p class="fs-5"> Tax : <span class="float-end text-danger fw-bold"> + $00.00 </span> </p>
                        <hr>
                        <p class="fs-5"> Total : <span class="float-end fw-bold"> {{totalPrice | currency:"INR"}}
                            </span></p>

                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary mb-2" [routerLink]="['../confirm']"> Make
                                Purchase </button>
                            <button type="button" class="btn btn-outline-secondary mb-2" [routerLink]="['../products']">
                                Back to Shop </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</ng-container>





<!--------------------------------------------------Empty Cart----------------------------------------------------------------->


<ng-container *ngIf="products.length == 0">
    <div class="container cart mb-3">
        <div class="card center align-items-center">
            <h5 class="text-center mt-4"> My Cart </h5>


            <img src="./assets/icons/empty.png" alt="Empty Cart" class="img-fluid empty">
            <h4 class="text-center"> Your cart is empty! </h4>
            <h6 class="text-center"> Add item to it now </h6>
            <button class="btn btn-primary mb-5" [routerLink]="['../product']"> Shop Now </button>

        </div>
    </div>
</ng-container>