<!-- <ng-container> -->
  <!-- *ngIf="products.length != 0" -->
  <!-- <div class="container cart">

                <div class="table-responsive mt-5">
                    <table class="table table-borderedless">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"> Product Image </th>
                                <th scope="col"> Product Name </th>
                                <th scope="col"> Unit </th>
                                <th scope="col"> Price </th>
                                <th scope="col"> Quantity </th>
                                <th scope="col"> Total </th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of products ; let i = index">


                                <td> <img src="{{item.image}}" alt="grapes" class="images img-fluid"> </td>
                                <td> {{item.name}} </td>
                                <td> <select class="form-select" aria-label="Default select example">
                                        <option selected> -- </option>
                                        <option value="1"> 250 g </option>
                                        <option value="2"> 500 g </option>
                                        <option value="3"> 1 kg </option>
                                    </select> </td>
                                <td> ${{item.amount}} </td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                        <button class="btn btn-danger" (click)="removeQnt(item)"><i
                                                class="las la-minus-circle"></i>
                                        </button> &nbsp;
                                        <span> {{item.quantity}} </span> &nbsp;
                                        <button class=" btn btn-primary" (click)="addQnt(item)"> <i
                                                class="las la-plus-circle"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="5"></td>
                                <td> Total </td>
                                <td> $ 0.00</td>
                            </tr>
                            <tr>
                                <td colspan="5"></td>
                                <td> Tax </td>
                                <td> + 0.00 </td>
                            </tr>
                            <tr>
                                <td colspan="5"></td>
                                <td> Net Total </td>
                                <td> $ 0.00 </td>
                            </tr>

                            <tr>

                                <td colspan="4"></td>
                                <td>
                                    <button class="btn btn-danger btn-sm" (click)="emptyCart()"> <i
                                            class="las la-trash-alt">
                                            Empty Cart </i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm" [routerLink]="['../spices']"> <i
                                            class="las la-shopping-bag"> Shop More </i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-success btn-sm" [routerLink]="['../payment']"> <i
                                            class="las la-check-circle"> Make Order </i>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div> -->


  <!-- <div class="col-sm-3">

                <div class="card pt-3">
                    <h5 class="text-secondary text-center"> PRICE DETAILS </h5>
                    <hr>
                    <h5 class="pl-2"> <i class="las la-dollar-sign"></i> Price (1 item ) <span class="float-right mr-3">
                            1000 </span> </h5>
                    <h5 class="pl-2"><i class="las la-tag"></i> Discount <span class="text-success float-right mr-3">
                            -100 </span> </h5>
                    <h5 class="pl-2"> Delivery Charges <span class="float-right mr-3"> 50 </span> </h5>
                    <hr>
                    <h5 class="pl-2"> <i class="las la-dollar-sign"></i> Total Amount <span class="float-right mr-3">
                            {{totalItem}}
                        </span></h5>
                    <hr>
                    <p class="text-success pl-2"> You Will Save 50 on this order.. </p>
                </div>

                <p class="mt-4 pl-2"> <i class="las la-shield-alt text-secondary"> Safe and Secure Payments.
                        Easy returns.100% Authentic products. </i> </p>
            </div> -->

  <!-- <div class="container">
        <div class="row pb-5">
            <div class="col-md-4 secure">
                <span class="c-icon"><i class="las la-lock"></i></span>
                <h2 class="title"> Your Information is Safe </h2>
                <p class="info"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt officiis ut ex
                    voluptas qui quidem sapiente, pariatur porro? Voluptates esse doloribus, vitae deserunt id explicabo
                    velit. Ad animi.
                </p>
            </div>
            <div class="col-md-4 secure">
                <span class="c-icon"><i class="las la-shield-alt"></i></span>
                <h2 class="title"> Secure Checkout </h2>
                <p class="info"> facere, maxime ullam fugit cumque nulla corrupti quisquam asperiores tempora
                    assumenda ab sint sapiente sit eius in laboriosam et expedita! Tempora recusandae magni minima
                    adipisci?
                </p>
            </div>
            <div class="col-md-4 secure">
                <span class="c-icon"><i class="las la-phone"></i></span>
                <h2 class="title"> 24/7 Customer Support </h2>
                <p class="info"> facere, maxime ullam fugit cumque nulla corrupti quisquam asperiores tempora
                    assumenda ab sint sapiente sit eius in laboriosam et expedita! Tempora recusandae magni minima
                    adipisci?
                </p>
            </div>
        </div>
    </div> -->

<!-- </ng-container> -->

<ng-container>
  
  <div class="container">

    <div class="row">
        <div class="col-md-9">
            <div class="box cart-box">
                <table class="table table-hover table-borderless caption-top">
                    <caption> Shopping Cart </caption>
                    <thead class="mx-auto">
                        <th scope="col"> SNO </th>
                        <th scope="col"> Image </th>
                        <th scope="col"> Description </th>
                        <th scope="col"> Unit </th>
                        <th scope="col"> Price </th>
                        <th scope="col"> Quantity </th>
                        <th scope="col"> Action </th>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of products; let i = index">
                            <td> {{i+1}} </td>
                            <td>
                                <img src="{{item.image}}" alt="img-1"
                                    class="img-fluid object-fit-cover border rounded" width="75">
                            </td>
                            <td>
                                <p> {{item.name}} </p>
                                <p> Brand : Best  </p>
                            </td>

                            <td>
                                <select class="form-select w-75" aria-label="Default select example">
                                    <option selected> 250-gm </option>
                                    <option value="1"> 250-gm </option>
                                    <option value="2"> 500-gm </option>
                                    <option value="3"> 1-kg </option>
                                  </select>
                            </td>

                            <td>
                                <p> ${{item.price}} </p>
                            </td>

                            <td>
                                <button class="btn btn-danger" (click)="removeQnt(item)"> - </button>
                                <span> {{item.quantity}} </span>
                                <button class="btn btn-primary" (click)="addQnt(item)"> + </button>
                            </td>

                            <td>
                                <button class="btn btn-outline-danger" (click)="removeItem(item)"> <i class="las la-trash-alt"></i> </button>
                            </td>
                        </tr>

                    </tbody>
                        
                </table>

                <hr>

                <p> Free Delivery Within 1 or 2 Weeks </p>

            </div>
        </div>

        <div class="col-md-3">

            <div class="box bg-white">
                <h5> Have coupon ? </h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Coupon code" aria-label="coupon"
                        aria-describedby="coupon">
                    <button type="button" class="btn btn-outline-secondary" id="coupon"> Apply </button>
                </div>

            </div>

            <div class="tot-amt">

                <div class="box bg-white">
                    <p class="fs-5"> Total price : <span class="float-end fw-bold"> {{totalItem}} </span> </p>
                    <p class="fs-5"> Discount : <span class="float-end text-success fw-bold"> - $00.00 </span> </p>
                    <p class="fs-5"> Tax : <span class="float-end text-danger fw-bold"> + $00.00 </span> </p>
                    <hr>
                    <p class="fs-5"> Total : <span class="float-end fw-bold"> {{totalItem}} </span></p>

                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-primary mb-2" [routerLink]="['../confirm']"> Make Purchase </button>
                        <button type="button" class="btn btn-outline-secondary mb-2" [routerLink]="['../products']"> Back to Shop </button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

</ng-container>





<!--------------------------------------------------Empty Cart----------------------------------------------------------------->


<!-- <ng-container *ngIf="products.length == 0">
    <div class="container cart">
        <div class="card center align-items-center">
            <h5 class="text-center mt-4"> My Cart </h5>


            <img src="./assets/icons/empty.png" alt="Empty Cart" class="img-fluid">
            <h4 class="text-center"> Your cart is empty! </h4>
            <h6 class="text-center"> Add item to it now </h6>
            <button class="btn btn-primary mb-5" [routerLink]="['../spices']"> Shop Now </button>

        </div>
    </div>
</ng-container> -->