<div class="container">
    <div class="row">
        <div class="col-md-6 pt-2">
            <div class="pro-img">
                <img src="./assets/products/spices/m1.png" alt="img-1" class="img-fluid rounded">
            </div>

            <div class="pro-pic">
                <div class="row">
                    <div class="col-md-4 w-25">
                        <img src="./assets/products/spices/m1.png" alt="img-2" class="img-fluid rounded" >
                    </div>
                    <div class="col-md-4 w-25">
                        <img src="./assets/products/spices/m1.png" alt="img-3" class="img-fluid rounded">
                    </div>
                    <div class="col-md-4 w-25">
                        <img src="./assets/products/spices/m1.png" alt="img-4" class="img-fluid rounded">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 pt-5">

            <h4> Sweater Men New Arrival Casual Pullover Men Long Sleeve </h4>

            <div class="rating">
                &star;
                &star;
                &star;
                &star;
                &star;

                <span>154</span> Orders
                <span class="text-success fw-bold"> Verified </span>
            </div>

            <div class="price fw-bold mt-4">
                <p> $815.00 / per kg </p>
            </div>

            <div class="prod-desc">
                <p> Made of pure cotton Off-White is a streetwear-inspired collection that continues to break away
                    from the conventions of divstream fashion. Made in Italy, these black and brown Odsy-1000
                    low-top sneakers. </p>
            </div>

            <div class="bio-data">

                <p> Model# <span class="m-5"> Best Brand </span> </p>
                <p> Color <span class="m-5"> Red </span> </p>
                <p> Material <span class="m-5"> Cotton, Jeans </span> </p>
                <p> Delivery <span class="m-5"> Russia , USA and Europe </span> </p>

            </div>

            <hr>

            <div class="row mb-3">
                <div class="col-md-6">
                    <select class="form-select w-75" aria-label="brand">
                        <option selected> Brand </option>
                        <option value="1"> Aachi </option>
                        <option value="2"> Sakthi </option>
                        <option value="3"> Best Brand </option>
                    </select>
                </div>
                
                <div class="col-md-6">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1"> 250-g </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2"> 500-g </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                            value="option3">
                        <label class="form-check-label" for="inlineRadio3"> 1-kg </label>
                    </div>
                </div>
            </div>

            <div class="btn-grp">
                <button type="button" class="btn btn-warning text-white"> Buy Now </button> &nbsp;
                <button type="button" class="btn btn-primary text-white"> Add to Cart </button>
            </div>

        </div>
        
    </div>
</div>
