.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 450px;
}


.forgot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign{
    border-radius: 12px;
    width: 200px;
}

