<div class="container bg-light mb-2">

    <div class="box bg-white rounded">

        <h3 class="text-center"> Create a New Account </h3> <br />

        <div class="mx-4">
            <form class="needs-validation" [formGroup]="registerForm" (ngSubmit)="register()">

                <div class="mb-3">
                    <div class="row">

                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="firstName" formControlName="firstName">
                                <label for="firstName"> First Name </label>
                            </div>
                            <span class="invalid-feedback"
                                *ngIf="registerForm.controls['firstName'].dirty && registerForm.hasError('required','firstName')">
                                firstName is requird </span>
                        </div>

                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="lastName" formControlName="lastName">
                                <label for="lastName"> Last Name </label>
                            </div>
                            <span class="invalid-feedback"
                                *ngIf="registerForm.controls['lastName'].dirty && registerForm.hasError('required','lastName')">
                                lastName is requird </span>
                        </div>
                    </div>

                </div>

                <div class="mb-3">
                    <div class="row">

                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect" aria-label="country"
                                    formControlName="country" (change)="getPlaceId($event)"  >
                                    <option selected> Country </option>
                                    <option *ngFor="let place of country" value={{place.countryId}} > {{place.name}} </option>
                                </select>
                                <label for="floatingSelect"> Select the Country </label>
                                <span class="invalid-feedback"
                                    *ngIf="registerForm.controls['country'].dirty && registerForm.hasError('required','country')">
                                    Country is requird </span>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect" aria-label="city"
                                    formControlName="city">
                                    <option selected> City </option>
                                    <option *ngFor="let pick of city" value={{pick.cityId}}> {{pick.name}} </option>
                                </select>
                                <label for="floatingSelect"> Select the City </label>
                                <span class="invalid-feedback"
                                    *ngIf="registerForm.controls['city'].dirty && registerForm.hasError('required','city')">
                                    City is requird </span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="mb-3 ">
                    <div class="row">

                        <div class="col-6">
                                  <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="address1" invalid></textarea>
                                    <label for="floatingTextarea"> Address 1 </label>
                                    <span class="invalid-feedback"
                                *ngIf="registerForm.controls['address1'].dirty && registerForm.hasError('required','address1')">
                                address1 is requird </span>
                                  </div>
                        </div>

                        <div class="col-6">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="address2"></textarea>
                                <label for="floatingTextarea"> Address 2</label>
                            <span class="invalid-feedback"
                                *ngIf="registerForm.controls['address2'].dirty && registerForm.hasError('required','address2')">
                                address2 is requird </span>
                                </div>
                        </div>

                    </div>
                </div>

                <div class="mb-3 ">
                    <div class="row">

                        <div class="col-6">

                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="address3"></textarea>
                                <label for="floatingTextarea"> Address 3</label>
                            <span class="invalid-feedback"
                                *ngIf="registerForm.controls['address3'].dirty && registerForm.hasError('required','address3')">
                                address3 is requird </span>
                                </div>
                        </div>

                        <div class="col-6">

                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="address4"></textarea>
                                <label for="floatingTextarea"> Address 4 </label>
                            <span class="invalid-feedback"
                                *ngIf="registerForm.controls['address4'].dirty && registerForm.hasError('required','address4')">
                                address4 is requird </span>
                                </div>
                        </div>

                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">

                        <div class="col-6">

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                                <label for="floatingInput"> Email address </label>
                                <span class="invalid-feedback"
                                *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required','email')">
                                Email id is requird </span>
                        </div>
                        </div>

                        <div class="col-6">

                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="floatingInput" placeholder="9876543210" formControlName="number">
                                <label for="floatingInput"> Phone Number </label>
                            <span class="invalid-feedback"
                                *ngIf="registerForm.controls['number'].dirty && registerForm.hasError('required','number')">
                                Number is requird </span>
                                </div>
                        </div>
                    </div>

                </div>

                <div class="mb-3">
                    <div class="row">

                        <div class="col-12">
                            <label for="password" class="form-label"> Create Password </label>
                            <input type="password" class="form-control" formControlName="password">
                            <span class="invalid-feedback"> Password is requird </span>
                        </div>

                        <!-- <div class="col-6">
                            <label for="password" class="form-label"> Repeat Password </label>
                            <input type="password" class="form-control" formControlName="rPassword">
                            <span class="invalid-feedback"> Password is requird </span>
                        </div> -->
                    </div>
                </div>


                <div class="mb-3">
                    <div class="row">

                        <div class="col-4">
                            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">
                                Register
                                Now </button>
                        </div>

                        <div class="col-8 pt-2">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="terms">
                                <label class="form-check-label" for="terms">
                                    I agree with Terms and Conditions
                                </label>
                            </div>

                        </div>
                    </div>

                </div>

                <hr />

                <p> Already have an account ? <a class="btn-link text-decoration-none" routerLink="../login">
                        Sign In
                    </a>
                </p>


            </form>
        </div>


    </div>
</div>