<div class="banner">
    <img src="./assets/banner/contact.jpg" class="img" alt="">
</div>

<div class="container">
    <div class="bg-light">
        <div class="row">

            <div class="col-md-7">

                <h2 class="textr-dark fw-bold">LET'S HAVE TALK</h2> <br> <br>
                <form>
                    <div>
                        <label for="inputEmail4" class="form-label fw-semibold">YOUR NAME*</label> <br>
                        <input type="text" class="form-control" id="input">
                    </div> <br> <br>
                    <div>
                        <label for="inputEmail4" class="form-label fw-semibold">YOUR EMAIL*</label> <br>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div><br>
                    <div>
                        <label for="inputEmail4" class="form-label fw-semibold">SUBJECT*</label> <br>
                        <input type="text" class="form-control" id="input">
                    </div><br>
                    <label for="exampleFormControlTextarea1" class="form-label fw-semibold">YOUR MESSAGE</label> <br>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea> <br>
                </form>
                <button type="button" routerLink="/product" class="btn fw-bold text-white">SUBMIT</button>
            </div>
            <div class="col-md-5">
                <div id="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90186.37207676383!2d-80.13495239500924!3d25.9317678710111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ad1877e4a82d%3A0xa891714787d1fb5e!2sPier%20Park!5e1!3m2!1sen!2sth!4v1637512439384!5m2!1sen!2sth"
                        width="100%" height="480px" frameborder="0" style="border:0" allowfullscreen></iframe>
                                  </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 text-center">

            <i class="las la-map-marker-alt" aria-hidden="true"></i>

            <h5 class="fw-bolder text-center"> Best Brands </h5>
            <p class="fw-bold text-secondary text-center"> Chennai, Tamil-Nadu <br>
                India </p>

        </div>

        <div class="col-md-4 text-center">

            <i class="las la-phone-volume" aria-hidden="true"></i>

            <h5 class="fw-bolder text-center"> CALL US </h5>
            <p class="fw-bold text-secondary text-center"> +91-8939799975 </p>

        </div>
        
        <div class="col-md-4 text-center">

            <i class="las la-envelope-open" aria-hidden="true"></i>
            
            <h5 class="fw-bolder text-center"> MAIL US </h5>
            <p class="fw-bold text-secondary text-center"> bestbrand22@gmail.com </p>

        </div>
    </div>
</div>