<nav class="navbar navbar-expand-lg bg-white sticky-top head">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="./assets/icons/gold.png" alt="logo" class="img-fluid logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" [routerLink]="['../home']"
                        routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> Home </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" [routerLink]="['../about']"
                        routerLinkActive="active-link"> About </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" [routerLink]="['../product']" routerLinkActive="active-link">
                        Products
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" [routerLink]="['../bakery']"
                                routerLinkActive="active-link"> Bakery & Biscuits </a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['../dry-fruits']"
                                routerLinkActive="active-link"> Dry Fruits </a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['../flour']"
                                routerLinkActive="active-link"> Flour </a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['../kitchen-cutlery']"
                                routerLinkActive="active-link"> Kitchen Cutlery </a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['../namkeen']"
                                routerLinkActive="active-link"> Namkeen & Sweets </a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['../Pickles']"
                                routerLinkActive="active-link"> Pickles Sauce & Chutney </a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['../pulses']"
                                routerLinkActive="active-link"> Pulses & Grain </a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['../religious-products']"
                                routerLinkActive="active-link"> Religious Products </a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['../rice']" routerLinkActive="active-link">
                                Rice </a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['../spices']"
                                routerLinkActive="active-link"> Spices </a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['../others']"
                                routerLinkActive="active-link"> Others </a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" [routerLink]="['../contact']"
                        routerLinkActive="active-link"> Contact </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" [routerLink]="['../cart']"
                        routerLinkActive="active-link"> <i class="las la-shopping-cart"> </i> </a>
                </li>

            </ul>

        </div>
    </div>
</nav>