
// .ban-box {
//     width: 100%;
//     height: 100vh;
//     overflow-y: hidden;
//     position: relative;
// }

// .bgImg{
//     position: absolute;
// }

.logo {
    position: absolute;
    padding-top: 80px;
    width: 950px;
    padding-left:550px;
}


.sp-img, .sp-content {
    padding-top: 80px;
    padding-bottom: 100px;
}


// .prod-page {
//     // background-color: bisque ;
//     padding-top: 25px;
// }

.item {
    object-fit: contain;
    width: 250px;
    border-radius: 20px;
}

.more-btn {
    background-color:#7CFC00;
    color: white;
    margin-top: 70px;
}

.feed {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.circle {
    background-color: white;
    width: 150px;
    height: 90px;
    border-radius: 50%;
}

.f-img {
    padding-left: 50px;
}


