
// .ban-box {
//     width: 100%;
//     height: 100vh;
//     overflow-y: hidden;
//     position: relative;
// }

// .bgImg{
//     position: absolute;
// }




.sp-img, .sp-content {
    padding-top: 80px;
    padding-bottom: 100px;
    
}

.product {
    padding-top: 25px;
}

.prod-page {
    padding-top: 25px;
}

.item {
    object-fit: contain;
    width: 100%;
    border-radius: 20px;
}

.more-btn {
    background-color:#7CFC00;
    color: white;
    margin-top: 30px;
}


.circle {
    align-items: center;
    background-color: white;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    margin-top: 10px;
}

.feed-img {
    padding-top: 30px;
}

.vr{
    height: 350px;
}


