<div class="container">
    <div class="confirm text-center">
        <div class="tick">
            <i class="lar la-check-circle"></i>
        </div>
        <div class="content">
            <h3> Thank You for Order </h3>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla ipsum sunt eos cum magni ab excepturi
                <br> assumenda accusamus dignissimos impedit.</p>

        </div>
        <div class="status">
            <div class="circle">
            </div>
            <div class="circle">
            </div>
            <div class="circle">
            </div>

        </div>
    </div>